<a href="https://colab.research.google.com/github/kayllanecastro/Trabalhos_TADS/blob/main/Algoritmos/Aula2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 2) Declare uma variável do tipo ponto flutuante (float) e atribua um valor decimal a ela. Em seguida, calcule o quadrado desse valor e exiba o resultado.

**Entrada**

In [ ]:
valor = float(input('Informe um número: '))

Informe um número: 8

**Lógica**

In [ ]:
result = valor ** 2

**Saída**

In [ ]:
print(f'O quadrado do {valor} é {result}')

O quadrado do 8.0 é 64.0

### 3) Declare duas variáveis do tipo inteiro e atribua valores a elas. Em seguida, troque os valores das variáveis entre si.

**Entrada**

In [ ]:
valor1 = float(input('Informe o número 1: '))
valor2 = float(input('Informe o número 2: '))

Informe o número 1: 4
Informe o número 2: 5

**Lógica**

In [ ]:
valor3 = valor1
valor1 = valor2
valor2 = valor3

**Saída**

In [ ]:
print(f'Valor 1 é {valor1}, Valor 2 é {valor2}')

Valor 1 é 5.0, Valor 2 é 4.0

### 4) Declare duas variáveis do tipo inteiro e atribua valores a elas. Em seguida, troque os valores das variáveis entre si sem usar uma terceira variável temporária.

**Entrada**

In [ ]:
var1 = float(input('Informe o número 1: '))
var2 = float(input('Informe o número 2: '))

Informe o número 1: 5
Informe o número 2: 4

**Lógica**

In [ ]:
var1, var2 = var2, var1

**Saída**

In [ ]:
print(f'Valor 1 é {var1}, Valor 2 é {var2}')

Valor 1 é 4.0, Valor 2 é 5.0

### 5) Declare duas variáveis do tipo inteiro e atribua valores a elas. Em seguida, calcule o resto da divisão do primeiro número pelo segundo número e exiba o resultado.

**Entrada**

In [ ]:
valor1 = float(input('Informe o número 1: '))
valor2 = float(input('Informe o número 2: '))

Informe o número 1: 34
Informe o número 2: 5

**Lógica**

In [ ]:
resto = valor1 % valor2

**Saída**

In [ ]:
print(f'O resto da divisão é {resto}')

O resto da divisão é 4.0

### 6) Declare três variáveis do tipo inteiro e atribua valores a elas representando os lados de um triângulo. Em seguida, calcule a área desse triângulo usando a fórmula de Heron: área = raiz quadrada de (s * (s - lado1) * (s - lado2) * (s - lado3)), onde s é o semiperímetro do triângulo (s = (lado1 + lado2 + lado3) / 2).

**Entrada**

In [ ]:
lado1 = float(input('Informe o lado 1: '))
lado2 = float(input('Informe o lado 2: '))
lado3 = float(input('Informe o lado 3: '))

Informe o lado 1: 12
Informe o lado 2: 15
Informe o lado 3: 21

**Lógica**

In [ ]:
s = (lado1 + lado2 + lado3) / 2
area = ((s * (s - lado1) * (s - lado2) * (s - lado3))) ** (1/2)

**Saída**

In [ ]:
print(f'A área do triângulo é {area}')

A área do triângulo é 88.18163074019441